<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="light.SLDPRT">
  <link
    name="light.SLDPRT">
    <inertial>
      <origin
        xyz="0.0044834 4.32149322179428E-19 -0.0020423"
        rpy="0 0 0" />
      <mass
        value="0.023567" />
      <inertia
        ixx="1.163E-05"
        ixy="-4.13066793711824E-23"
        ixz="2.6715E-07"
        iyy="8.9625E-06"
        iyz="-1.51115861736742E-21"
        izz="3.1066E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://light.SLDPRT/meshes/light.SLDPRT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://light.SLDPRT/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://light.SLDPRT/meshes/light.SLDPRT.STL" />
      </geometry>
    </collision>
  </link>
</robot>