<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="box.SLDPRT">
  <link
    name="box.SLDPRT">
    <inertial>
      <origin
        xyz="9.2996E-17 3.20353843572399E-16 0.16926"
        rpy="0 0 0" />
      <mass
        value="15.99" />
      <inertia
        ixx="7.73042"
        ixy="-7.2824E-17"
        ixz="-20.8299E-17"
        iyy="10.73042"
        iyz="20.85579897269348E-17"
        izz="10.0053" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="models/meshes/box/box.SLDPRT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.651 0.502 0.392 1" />
        <texture
          filename="models/textures/box/box.png" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="models/meshes/box/box.SLDPRT.STL" />
      </geometry>
    </collision>
  </link>
</robot>